/* header */

.button-logo {
    border: none;
    background: none;
    cursor: pointer;
}

.button-logo-img {
    width: 185px;
    height: auto;
}

.button-rtop {
    text-decoration: none;
    background-color: #F79214;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}


.button-rtop:hover {
    background-color: #fcb900;
}

.header-link {
    text-decoration: none;
    color: black;
    margin-right: 8px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

.header-link :hover {
    color: rgb(176, 164, 164);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #fff;
    height: 70px;
}

.header-left {
    text-align: left;
    display: flex;
    align-items: center;
}

.header-right {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* main visual */
.main-container {
    position: relative;
    height: 739px;
}

.visual-container {
    position: relative;
    height: 739px;
}

.left-triangle {
    top: -70px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.right-triangle {
    right: 0;
    bottom: 70px;
    position: absolute;
    z-index: -1;
}

.main-visual {
    top: -70px;
    right: 0;
    width: 775px;
    position: absolute;
    z-index: -1;
}



.fill-rectangle {
    position: absolute;
    z-index: -1;
    top: 84px;
    left: -70px
}



h2 {
    display: block;
    font-size: 40px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #333;
}

.button-under {
    text-decoration: none;
    background-color: #F79214;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 100px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}

.button-under:hover {
    background-color: #fcb900;
}

.caption {
    font-size: 12px;
    line-height: 16px;
    color: #333;
}

.main-content {
    position: relative;
    width: fit-content;
    max-width: 1040px;
    margin-left: 400px;
    margin-right: 100px;
    padding-top: 200px;
}

.badge-img {
    position: absolute;
    top: 150px;
    right: -200px;
}