/* header */
body {
  display: block;
  margin: 0;
}

.button-logo {
  border: none;
  background: none;
  cursor: pointer;
}

.button-logo-img {
  width: 185px;
  height: auto;
}

.button-rtop {
  text-decoration: none;
  background-color: #F79214;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
}


.button-rtop:hover {
  background-color: #fcb900;
}

.header-link {
  text-decoration: none;
  color: black;
  /* margin-right: 8px; */
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

.header-link :hover {
  color: rgb(176, 164, 164);
}

.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10000;
  /* 最前面に固定 */

  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #fff;
  height: 70px;
  box-sizing: border-box;

}

.header-left {
  text-align: left;
  display: flex;
  align-items: center;
}

.header-right {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 30px;
}

/* main visual */
.main-container {
  position: relative;
  height: 739px;
}

.visual-container {
  position: relative;
  height: 739px;
}

.left-triangle {
  top: -70px;
  left: 0;
  position: absolute;
  z-index: -1;
}

.right-triangle {
  right: 0;
  bottom: 70px;
  position: absolute;
  z-index: -1;
}

.main-visual {
  top: -70px;
  right: 0;
  width: 775px;
  position: absolute;
  z-index: -1;
}

.main-visual-whole {
  display: none;
}


.fill-rectangle {
  position: absolute;
  z-index: -1;
  top: 84px;
  left: -70px
}

h2 {
  display: block;
  font-size: 40px;
  margin-block-start: 10px;
  margin-block-end: 20px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #333;
}

.button-under {
  text-decoration: none;
  background-color: #F79214;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 20px 100px;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
}

.button-under:hover {
  background-color: #fcb900;
}

.caption {
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

.main-content {
  position: relative;
  width: fit-content;
  margin-left: 50px;
  padding-top: 200px;
}

.badge-img {
  position: absolute;
  top: 150px;
  right: -200px;
}

/* ADD 20260108 */
.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  /* padding: 0; */
  z-index: 9999;
}

.hamburger-btn span {
  display: block;
  /* width: 24px; */
  width: 20px;
  height: 2px;
  margin: 5px 0;

  background-color: #A2A2A4;
  /* transform: translate(0, -50%); */
  border-radius: 10px;
  transition: top 0.2s, transform 0.2s, opacity 0.3s;
}



/* Add 20260106 */
@media screen and (max-width: 767px) {

  .header-container {
    padding: 0px 20px;
    justify-content: space-between;

  }

  .button-logo-img {
    position: static !important;
    height: auto !important;
    display: block !important;
  }

  .main-visual-whole {
    width: 100vw !important;
    /* padding-top: 20px; */
    height: auto !important;
    display: block !important;
    z-index: 1;

  }

  .left-triangle,
  .right-triangle,
  .main-visual,
  .fill-rectangle {
    display: none !important;
  }

  .badge-img {
    position: static !important;
    display: block !important;
    margin: -30px 10px 40px 10px !important;
    width: 100px !important;
  }

  .main-content {
    position: static !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 20px 20px !important;
    text-align: left !important;


  }

  .visual-container {
    /* width: 100% !important; */
    padding-top: 50px;
    width: 100vw !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
    z-index: 1
  }

  h2 {
    display: block;
    font-size: 20px;
    unicode-bidi: isolate;
    color: #333;
  }

  .button-under {
    height: 20px;
  }

  .title-with-badge {
    display: flex;
    align-items: flex-start;
  }

  .title-with-badge h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
  }

  html,
  body {
    overflow-x: hidden !important;
  }

  /* ADD 20260108 */
  .hamburger-btn {
    /* width: 40px; 
    height: 40px; */

    width: 30px;
    height: 35px;
    display: block;

    padding: 0;
    z-index: 9999 !important;
  }



  .hamburger-btn.active span:nth-child(1) {
    /* transform: translateY(9px) rotate(45deg); */
    /* top: 50%; */
    transform-origin: left center;
    /* transform: translate(0, -50%) rotate(45deg); */
    /* transform: rotate(45deg) scaleX(1.1); */
    transform: rotate(45deg);

  }

  .hamburger-btn.active span:nth-child(2) {
    transform: translate(20px, -50%);
    opacity: 0;

  }

  .hamburger-btn.active span:nth-child(3) {
    /* transform: translateY(-9px) rotate(-45deg); */
    transform-origin: left center;
    /* transform: translate(0, -50%) rotate(-45deg); */
    /* transform: rotate(-45deg) scaleX(1.1); */
    transform: rotate(-45deg);

  }

  .header-right {
    overflow-y: scroll;
    position: fixed !important;
    width: 100vw !important;
    height: calc(100vh - 50px);

    /* display: none; */
    flex-direction: column;
    gap: 20px;
    background: rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    top: 70px;
    right: 0;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s;

    z-index: 9998 !important;

  }

  .header-right.active {
    display: flex;
    transform: translateX(0);
  }


  .header-right.active .hl-top {
    color: #fff;
    font-size: 16px;
    letter-spacing: 5px;
  }

  .header-right.active .hl-bottom {
    color: #F79214;
    font-size: 12px;
    letter-spacing: 2px;
  }


}